<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

  <property name="hibernate.connection.url">${jdbc.url}</property>
  <property name="hibernate.connection.username">${jdbc.username}</property>
  <property name="hibernate.connection.password">${jdbc.password}</property>

  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.show_sql">false</property>
  <property name="hibernate.format_sql">true</property>
  <property name="hibernate.hbm2ddl.auto">validate</property>
  <property name="connection.autoReconnect">true</property>
  <property name="connection.autoReconnectForPools">true</property>
  <property name="connection.is-connection-validation-required">true</property>
  <property name="hibernate.connection.provider_class">org.hibernate.service.jdbc.connections.internal.C3P0ConnectionProvider</property>
  <property name="hibernate.c3p0.max_size">30</property>
  <property name="hibernate.c3p0.min_size">1</property>
  <property name="hibernate.c3p0.timeout">3600</property>
  <property name="hibernate.c3p0.max_statements">0</property>
  <property name="hibernate.c3p0.idle_test_period">3000</property>
  <property name="hibernate.c3p0.acquire_increment">2</property>
  <property name="hibernate.c3p0.validate">true</property>
  <property name="hibernate.jdbc.fetch_size">6</property>
  <mapping class="com.iremote.domain.User"/>
  <mapping class="com.iremote.domain.UserShare"/>
  <mapping class="com.iremote.domain.Remote"/>
  <mapping class="com.iremote.domain.GatewayInfo"/>
  <mapping class="com.iremote.domain.Databackup"/>
  <mapping class="com.iremote.domain.PhoneUser"/>
  <mapping class="com.iremote.domain.Family"/>
  <mapping class="com.iremote.domain.Randcode"/>
  <mapping class="com.iremote.domain.Notification"/>
  <mapping class="com.iremote.domain.NotificationSetting"/>
  <mapping class="com.iremote.domain.ZWaveDevice"/>
  <mapping class="com.iremote.domain.InfraredDevice"/>
  <mapping class="com.iremote.domain.Camera"/>
  <mapping class="com.iremote.domain.Card"/>
  <mapping class="com.iremote.domain.UserToken"/>
  <mapping class="com.iremote.domain.UserInOut"/>
  <mapping class="com.iremote.domain.SystemParameter"/>
  <mapping class="com.iremote.domain.SmsHistory"/>
  <mapping class="com.iremote.domain.AppVersion"/>
  <mapping class="com.iremote.domain.Scene"/>
  <mapping class="com.iremote.domain.Conditions"/>
  <mapping class="com.iremote.domain.SceneNotification"/>
  <mapping class="com.iremote.domain.Associationscene"/>
  <mapping class="com.iremote.domain.Command"/>
  <mapping class="com.iremote.domain.ThirdPart"/>
  <mapping class="com.iremote.domain.ThirdPartToken"/>
  <mapping class="com.iremote.domain.MessageTemplate"/>
  <mapping class="com.iremote.domain.Room"/>
  <mapping class="com.iremote.domain.RoomAppliance"/>
  <mapping class="com.iremote.domain.RoomDevice"/>
  <mapping class="com.iremote.thirdpart.wcj.domain.Comunity"/>
  <mapping class="com.iremote.thirdpart.wcj.domain.ComunityRemote"/>
  <mapping class="com.iremote.thirdpart.wcj.domain.WcjServer"/>
  <mapping class="com.iremote.thirdpart.wcj.domain.DoorlockPassword"/>
  <mapping class="com.iremote.domain.CommunityAdministrator"/>
  <mapping class="com.iremote.domain.ZWaveDeviceShare"/>
  <mapping class="com.iremote.domain.EventtoThirdpart"/>
  <mapping class="com.iremote.domain.UserServiceMap"/>
  <mapping class="com.iremote.domain.OperationLog"/>
  <mapping class="com.iremote.domain.Timezone"/>
  <mapping class="com.iremote.domain.Timer"/>
  <mapping class="com.iremote.domain.ZwaveDeviceEventPushValues"/>
  <mapping class="com.iremote.domain.DeviceCapability"/>
  <mapping class="com.iremote.domain.DoorlockUser"/>
  <mapping class="com.iremote.domain.InfreredDeviceProductor"/>
  <mapping class="com.iremote.domain.InfreredDeviceProductorMap"/>
  <mapping class="com.iremote.domain.InfreredCodeLiberay"/>
  <mapping class="com.iremote.domain.InfreredDeviceProductorCodeMap"/>
  <mapping class="com.iremote.domain.Doorlockalarmphone"/>
  <mapping class="com.iremote.domain.DeviceUpgradePackage"/>
  <mapping class="com.iremote.domain.DeviceVersionInfo"/>
  <mapping class="com.iremote.domain.UserShareDevice"/>
  <mapping class="com.iremote.domain.ZWaveSubDevice"/>
  <mapping class="com.iremote.domain.DeviceExtendInfo"/>
  <mapping class="com.iremote.domain.DeviceVersionCapablity"/>
  <mapping class="com.iremote.domain.DeviceFunctionVersionCapability"/>
  <mapping class="com.iremote.domain.DeviceIndentifyInfo"/>
  <mapping class="com.iremote.domain.GatewayCapability"/>
  <mapping class="com.iremote.domain.ServerRuntimeLog"/>
  <mapping class="com.iremote.domain.PhoneUserAttribute"/>
  <mapping class="com.iremote.domain.DeviceInitSetting"/>
  <mapping class="com.iremote.domain.DeviceOperationSteps"/>
  <mapping class="com.iremote.domain.notification.Notification_1"/>
  <mapping class="com.iremote.domain.notification.Notification_2"/>
  <mapping class="com.iremote.domain.notification.Notification_3"/>
  <mapping class="com.iremote.domain.notification.Notification_4"/>
  <mapping class="com.iremote.domain.notification.Notification_5"/>
  <mapping class="com.iremote.domain.notification.Notification_6"/>
  <mapping class="com.iremote.domain.notification.Notification_camera"/>
  <mapping class="com.iremote.domain.notification.Notification_warning"/>
  <mapping class="com.iremote.domain.ThirdPartAttribute"/>
  <mapping class="com.iremote.domain.DeviceGroup"/>
  <mapping class="com.iremote.domain.DeviceGroupDetail"/>
  <mapping class="com.iremote.domain.OemProductor"/>
  <mapping class="com.iremote.domain.Partition"/>
  <mapping class="com.iremote.domain.InfraredKey"/>
  <mapping class="com.iremote.domain.TableBrandPO"/>
  <mapping class="com.iremote.domain.InfraredDevice2"/>
  <mapping class="com.iremote.domain.TimerTask"/>
  <mapping class="com.iremote.domain.DoorlockAssociation"/>
  <mapping class="com.iremote.domain.InfreredCodeLiberayModel"/>
  <mapping class="com.iremote.domain.AdvertBanner"/>
  <mapping class="com.iremote.domain.AdvertBannerPic"/>
  <mapping class="com.iremote.domain.ZwaveDeviceActiveTime"/>
  <mapping class="com.iremote.domain.Address"/>
  <mapping class="com.iremote.domain.Region"/>
  <mapping class="com.iremote.domain.Province"/>
  <mapping class="com.iremote.domain.City"/>
  <mapping class="com.iremote.domain.OemProductorAttribute"/>
  <mapping class="com.iremote.domain.BlueToothPassword"/>
  <mapping class="com.iremote.domain.DeviceRawCmd"/>
  <mapping class="com.iremote.domain.RawCmdTemplate"/>
  <mapping class="com.iremote.domain.RawCmdTemplateDtl"/>
  <mapping class="com.iremote.domain.DataDictionary"/>
  <mapping class="com.iremote.domain.AuthQrCode"/>
  <mapping class="com.iremote.domain.County"/>
 </session-factory>
</hibernate-configuration>
